---
const { post } = Astro.props;
---

<article class="border w-[500px] p-4 h-80">
  <a class="text-lg font-normal" href={post.url}>{post.frontmatter.title}</a>
  <p class="mb-5">
    <span class="font-normal">
      {post.frontmatter.author}
    </span>
    <span class="">
      {new Date(post.frontmatter.pubDate).toLocaleDateString()}
    </span>
  </p>
  <img
    transition:name={`hero ${post.frontmatter.title} img`}
    class="w-auto mx-auto h-36 mb-2 m-1"
    src={post.frontmatter.image?.url}
  />
  <div class="dark:text-slate-300">{post.frontmatter.description}</div>
  <div class="dark:text-slate-300">
    {new Date(post.frontmatter.pubDate).toDateString()}
  </div>
</article>
