---
const { post } = Astro.props;
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={post.data.title}>
  <div class="lg:max-w-3xl mx-auto">
    <h1
      class="text-4xl font-bold mb-2"
      transition:name={`hero ${post.data.title} title`}
    >
      {post.data.title}
    </h1>
    <p class="mb-5" transition:name={`hero ${post.data.title} author`}>
      <span class="font-normal">
        {post.data.author}
      </span>
      <span class="">
        {new Date(post.data.pubDate).toLocaleDateString()}
      </span>
    </p>
    <div class="w-full h-[400px] lg:h-[600px] mb-3">
      <Image
        transition:name={`hero ${post.data.title} img`}
        transition:animate={"initial"}
        src={post.data.cover}
        class="h-full w-full object-contain"
        alt={''}
      />
    </div>
    <article class="prose dark:prose-invert max-w-4xl">
      <slot />
    </article>
  </div>
</BaseLayout>
